@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link.active{
    color: orangered ;
    text-shadow: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

@keyframes draw {
    from {
      stroke-dasharray: 0, 1000;
    }
    to {
      stroke-dasharray: 1000, 0;
    }
  }
  
  .animate-draw {
    animation: draw 5s ease forwards;
  }
  
